@{
    ViewData["Title"] = "Index";
}

<h1>Control de remito</h1>

<table class="table">
    <thead>
    <tr>
        <th>
            Fecha de entrada
        </th>
        <th>
            Número de remito
        </th>
        <th>
            Estado de remito
        </th>
        <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
@*     @foreach (var item in Model) { *@
@*         <tr> *@
@*             <td> *@
@*                 @Html.DisplayFor(modelItem => item.EntryDate) *@
@*             </td> *@
@*             <td> *@
@*                 @Html.DisplayFor(modelItem => item.Remittance.Id) *@
@*             </td> *@
@*             <td> *@
@*                 @Html.DisplayFor(modelItem => item.Driver.Dni) *@
@*             </td> *@
@*             <td> *@
@*                 @Html.DisplayFor(modelItem => item.Vehicle.LicensePlate) *@
@*             </td> *@
@*             <td> *@
@*                 @Html.DisplayFor(modelItem => item.Trailer.LicensePlate) *@
@*             </td> *@
@*             <td> *@
@*                 <a asp-action="Detail" asp-route-id="@item.Id">Revisar remito</a> *@
@*             </td> *@
@*         </tr> *@
@*     } *@
    </tbody>
</table>